<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trainer.courserunner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.AppFunctionLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseRunner">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="hzqct6qd8n" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".map.drawer.NavermapActivity"/>
        <activity android:name=".map.drawer.NavermapLocationActivity"/>
        <activity android:name=".record.ProjectRecordActivity"/>
        <activity android:name=".runningset.RunningActivity"/>
        <activity android:name=".runningset.RunningImageSelectionActivity"/>
        <activity android:name=".runningset.RunningDistanceActivity"/>
        <activity android:name=".course.activity.ProjectRunnerActivity"/>
        <activity android:name=".course.activity.CourseConductorActivity"/>
        <activity android:name=".course.activity.GuideRunnerActivity"/>
        <activity android:name=".course.activity.SketchBookRunnerActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MissionActivity"/>
        <activity android:name=".NewProjectActivity"/>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".UserSetActivity"/>
    </application>

</manifest>