<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trainer.courserunner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseRunner"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".SoundSetActivity"></activity>
        <activity android:name=".UserSetActivity" />
        <activity android:name=".ProjectRunningActivity" />
        <activity android:name=".NormalRunningActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".RunningActivity" />
        <activity android:name=".LoginActivity">

        </activity>


        <activity android:name=".MainActivity"></activity>
        <activity android:name=".course.CourseGuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 네이버 지도 API 키 설정 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="hzqct6qd8n" />
        <activity android:name=".SignupActivity" />

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>